.nav-item-active {
  height: 100px;
  transition: height 0.5s ease-in-out;
}

.nav-item {
  transition: height 0.5s ease-in-out;
}

/* Opcional: Ajustes adicionales para el menú móvil */
@media (max-width: 767px) {
  .nav-item {
    height: auto; /* Permite que el alto sea dinámico */
  }
}
